body{
  font-family: monospace;
  background-color: black;
  color: white;
}
h1{
  font-size: 6em;
  text-align: center;
  color: white;
  text-shadow: #fa0 2px 0 10px;
  background-color: black;
}
button{
  width: 150px;
  height: 50px;
  margin: 25px 25px 25px 25px;
  text-align: center;
}
p{
  text-align: center;
  font-size: 1.5em;
}
h3{
  text-align: center;
  font-size: 2.5em;
}
.buttons{
  width: 616px;
  height: 100px;
  margin: auto;
  border-style: solid;
  border-color: #fa0;
}
.select{
  font-family: monospace;
  font-size: 2em;
}
.results{
  height: 2.3em;
  font-size:2.3em;
  text-shadow: #fa0 1px 0 10px;
}
.winner{
  height: 2.6em;
  text-align: center;
  color: #72138e;
  font-size: 2.6em;
  text-shadow: #0014ff 2px 0 10px;
}
